.bMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #27ae60;
    display: none;
}
.bMenu li {
    float: left;
    display: none;
}
.bMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:none;
}
.bMenu li a:hover:not(.active) {
    background-color: #111;
}
.bMenu .active {
    background-color: #f39c12;
}
.aktif{background-color: orange;}
.rMenu{
	display: none;
	width: 90%;
	background-color: #27ae60;
	padding: 20px;
	color: white;
}
.rMenu i{float:right; font-size: 18px; cursor: pointer;}
#i2{display: none;}
.rMenuI{
	margin-top: -0px;
	width: 100%;
	background-color: #2ecc71;
	height: 220px;
	text-align: center;
	display: none;
}
.rMenuI a{
	text-decoration: none;
	color: black;
}
@media only screen and (max-width: 400px){
	.bMenu{display: none;}
	.rMenu{display: block;}
	.rMenuI{display: none;}
	.p1{display:none;}
	body{margin: 0px;padding: 0px;}
}
@media only screen and (min-width: 400px){
	.bMenu{display: none;}
	.rMenu{display: none;}
	.rMenuI{display: none;}
}
